# -------------------------------
# Miscellaneous
# -------------------------------
*.class
*.log
*.pyc
*.swp
*.swo
.DS_Store
.packages
*.tmp
*.temp
*.orig

# Directories to ignore
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------------
# IDE related
# -------------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional)
.vscode/

# -------------------------------
# Flutter / Dart / Pub
# -------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/

# Flutter API Docs
**/doc/api/

# iOS-specific Flutter
**/ios/Flutter/.last_build_id

# -------------------------------
# iOS-specific
# -------------------------------
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
Runner.xcworkspace/
Pods/
Pods 2/
Podfile.lock

# Xcode files
xcuserdata/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcscmblueprint

# -------------------------------
# Android-specific
# -------------------------------
/android/.gradle/
/android/.idea/
/android/local.properties
/android/app/*.keystore

# Android build output
/android/app/build/
android/build/
.gradle/
build/

# -------------------------------
# Symbolication & Obfuscation
# -------------------------------
app.*.symbols
app.*.map.json
